<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Selenium" verbose="10">

    <test name="AllTests">
        <classes>
            <class name="com.kunitskaya.pf.HelpPopupTest"/>
            <class name="com.kunitskaya.pf.SendInvalidEmailTest"/>
            <class name="com.kunitskaya.pf.InvalidLoginTest"/>
            <class name="com.kunitskaya.po.EmailingTest"/>
        </classes>
    </test>
</suite>
