<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Selenium" verbose="10">

    <test name="AllTests">
        <classes>
            <class name="com.kunitskaya.pages.HelpPopupTest"/>
            <class name="com.kunitskaya.pages.SendInvalidEmailTest"/>
            <class name="com.kunitskaya.pages.InvalidLoginTest"/>
            <class name="com.kunitskaya.pages.EmailingTest"/>
        </classes>
    </test>
</suite>
